<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd ">

	<description>Spring MVC Configuration</description>

	<!-- 加载配置属性文件 -->
	<context:property-placeholder
		ignore-unresolvable="true" location="classpath:fyjf.properties" />

	<!-- 使用Annotation自动注册Bean,只扫描@Controller -->
	<context:component-scan base-package="com.fyjf"
		use-default-filters="false">
		<!-- base-package 如果多个，用“,”分隔 -->
		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
	</context:component-scan>


	<mvc:annotation-driven />



	<!-- 配置JSON视图 -->

	<bean id="mappingJacksonHttpMessageConverter"
		class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">

		<property name="supportedMediaTypes">

			<list>

				<value>application/json;charset=UTF-8</value>

			</list>

		</property>

		<property name="objectMapper">

			<bean class="com.fyjf.common.mapper.JsonMapper"></bean>

		</property>

	</bean>

	<bean id="stringHttpMessageConverter"
		class="org.springframework.http.converter.StringHttpMessageConverter" />

	<bean id="requestMappingHandlerAdapter"
		class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">

		<property name="messageConverters">

			<list>

				<ref bean="mappingJacksonHttpMessageConverter" />

				<ref bean="stringHttpMessageConverter" />

			</list>

		</property>

	</bean>



	<!-- 配置JSP视图 -->

	<bean id="internalResourceViewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">

		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />

		<property name="prefix" value="/WEB-INF/view/" />

		<property name="suffix" value=".jsp" />

		<property name="contentType" value="text/html;charset=UTF-8" />

		<property name="order" value="1" />

	</bean>


	<!-- 文件上传配置注意:这里申明的id必须为multipartResolver -->

	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">

		<property name="maxUploadSize" value="5000000000" />

	</bean>



</beans>